*{
    padding: 0;
    margin: 0;
}

.budget-container {
    border: 3px solid blue;
    /* border-bottom: none; */
    /* background-color: aliceblue; */
    height: 90vh;
    margin: auto;
    width: 440px;
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 7px;
}


header {
    /* border: 1px solid green; */
    height: 50px;
    display: flex;
    align-items: center;
    /* justify-content: ; */
    /* margin: 10px; */
    /* padding-top: 20px; */
    padding: 10px;
    /* box-shadow: 0 0 5px #88888888; */
    background-color: blue;
    /* text-align: center; */
}

header .icons {
    align-self: flex-start;
}



.dashboard {
    border: 1px ;
    /* text-align: center; */
    /* margin-top: 20px; */
    margin-left: 80px;
    color: white;
    font-size: larger;
    /* align-self: flex-end; */
}


.icons {
    float:left;
    /* margin-right: 5px; */
    margin-right: 10px;
    /* outline: 2px solid red; */

}

.icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-size: 20px;
}

.icon1 {
    background-color: red;
    /* margin-right: 10px; */
}

.icon2 {
    background-color: blue;
    /* margin-right: 10px; */
}

.icon3 {
    background-color: rgb(109, 109, 4);
    /* margin-right: 10px; */
}


 

.icon4 {
    background-color: lightgreen;
    /* margin-right: 10px; */
}


p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h2 {
    color: rgb(0, 0, 0);
}

h3 {
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

i {
    /* border: 1px solid red; */
    font-size: 30px;
    padding: 5px;
    /* font-size: xx-large; */
    border: none;
    /* height: 50px; */
    /* width: 50px; */
    /* background-color: red; */
    border-radius: 50px;
    justify-content: center;
    /* align-items: center; */
}



.budget-headers {
    /* border: 1px solid blue; */
    margin: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 3px 1px gray;
}


.activity {
    margin: 10px;
}


footer {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    margin: 10px;
    height: 10vh;
    padding-top: 5px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
}

.footer-icons:hover {
 color: blue;
}

.budget-balance {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    height: 100px;
    /* gap: 1rem; */
}


.balance {
    /* border: 1px solid red; */
    height: 70px;
    /* margin-top: 10px; */
    padding: 5px;
    width: 40%;
    border-left: 3px solid red;
    box-shadow: 0 0 5px #88888888;
}


.balance-enq {
    /* border: 1px solid green; */
    height: 70px;
    padding: 5px;
    width: 40%;
    border-left: 3px solid green;
    box-shadow: 0 0 5px #88888888;
}



.summary {
    margin: 10px;
}

a {
    text-decoration: none;
}

.more-icon {
    cursor: pointer;
}